.modify-card {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.input-style {
    width: 100%;
}

.form-control {
    width: 80%;
}

.card-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}