.loginCardStyle {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    margin: 15% auto;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration-line: none;
}